@import url(modal.css);
@import url(tooltip.css);
@import url(dropdown-menu.css);

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

:root {
    --fundo-cor: #FAF6ED;
    --texto-cor-principal: #222;
    --menu-cor: #FB5;
    --font-secundaria: 'Courier New', Courier, monospace;
}

body {
    background-color: var(--fundo-cor);
    color: var(--texto-cor-principal);
    -webkit-font-smoothing: antialiased;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

p {
    color: var(--texto-cor-principal);
}

.menu {
    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--menu-cor);
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.menu li a {
    display: block;
    padding: 17px 10px;
    color: var(--texto-cor-principal);
    font-family: var(--font-secundaria);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .1em;
}

.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    gap: 20px;
    margin-bottom: 4rem;
}

.titulo {
    font-family: 'Playfair Display SC', serif;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    mask-border: 1rem;
    grid-column: 1/4;
}

.animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #E54;
}

.animais h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.animais p {
    font-family: Helvetica, Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}

.animais-lista::-webkit-scrollbar {
    width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
    background: #FB5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

.animais-lista li {
    cursor: pointer;
}

.animais-lista::-webkit-scrollbar-track {
    background: #faf6ed;
}

.animais-descricao {
    grid-column: 3;
}

.animais-descricao section {
    margin-bottom: 3rem;
}

.faq-lista {
    grid-column: 2 / 4;
}

.faq-lista dt {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #E54;
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.mapa {
    grid-column: 2;
}

.dados {
    grid-column: 3;
}

.dados li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial, sans-serif;
}

.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.copy {
    grid-column: 3/5;
    margin-bottom: 2rem;
    background: #FB5;
}

.copy p {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}


@media screen and (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .menu, .grid-section, .copy {
        grid-column: 1;
    }

    .grid-section {
        grid-template-columns: 100px 1fr;
        gap: 10px;
    }

    .animais-lista {
        grid-column: 1;
    }

    .faq-lista, .dados, .mapa {
        grid-column: 1 / 3;
    }

    .grid-section h1 {
        font-size: 3rem;
    }

    .menu {
        margin-top: 0px;
    }

    .copy {
        margin-bottom: 0px;
    }
}

.js [data-tab="content"] section {
    display: none;
}

[data-tab="content"] section.ativo {
    display: block !important;
}

[data-tab="content"] section.ativo.show-right {
    animation: show-right .5s forwards;
}

[data-tab="content"] section.ativo.show-down {
    animation: show-down .5s forwards;
}

@keyframes show-right {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes show-down {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

[data-anime="accordion"] dt {
    cursor: pointer;
}

.js [data-anime="accordion"] dd {
    display: none;
}

[data-anime="accordion"] dd.ativo {
    display: block;
    animation: slideDown .5s forwards;
}

[data-anime="accordion"] dt::after {
    content: '⤵';
    margin-left: 10px;
}

[data-anime="accordion"] dt.ativo::after {
    content: '⤴';
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        max-height: 200px;
        opacity: 1;
    }
}

.js [data-anime="scroll"] {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
}

.js [data-anime="scroll"].ativo {
    opacity: 1;
    transition: .3s;
    transform: translate3d(0,0,0);
}